<%
  # HTML Entities
  listing_title = '
    <div class="col-9">
      <h3><strong>Post List</strong></h3>
    </div>'.html_safe
  collapse_button = '<button id="collapseBtn" class="btn btn-outline-info btn-sm">&#x25BC;</button>'.html_safe
  sorting_label = '<label for="sortingSelect">Sort the posts by</label>'.html_safe
  sorting_options = grouped_options_for_select(@sorting_method_names, selected: session[:sorting_method])

  # Ruby HTML Generators
  post_listing_link = Proc.new do |post| 
    "<a class=\"list-group-item list-group-item-action\" data-target=\"card#{post.id}\">#{post.title}</a>".html_safe
  end 
%>

<div class="col-12 col-sm-3 offset-sm-1">
  <div id="postListingJumbotron" class="jumbotron jumbotron-fluid post-listing-jumbotron sticky-top <%= session[:list_collapsed] ? 'collapsed' : '' %>">
    <div class="container">
      
      <div class="row">
        <%= listing_title %>
        <div class="col-3">
          <%= form_for('collapse_state', url: :save_collapse_state, remote: true) do |f| %>
            <%= collapse_button %>
            <%= f.hidden_field(:list_collapsed, {value: session[:list_collapsed], onchange: 'this.form.submit();'}) %>
          <% end %>
        </div>
      </div>

      <%= sorting_label %>
      <%= form_for('sorting_method', url: :sort_posts) do |f| %>
        <%= f.select :method, {}, {}, { class: 'form-control', onchange: 'this.form.submit();' } do %>
          <%= sorting_options  %>
        <% end %>
      <% end %>

      <br>

      <ul id="postList" class="list-group list-group-flush">
        <% posts.each do |post| %>
          <%= post_listing_link.call(post) %>
        <% end %>
      </ul>
      
    </div>
  </div>
  <br>
</div>