<div class="col-12 col-sm-7">
  <% posts.each do |post| %>
    <% tags_for_post = post.tags.count != 0 ? post.tags.map {|tag| tag.name }.join(", ") : 'No tags for this post' %>
    <div class="card glowing-border" id="card<%= post.id %>">
      <div class="card-body" >
        <h5 class="card-title" ><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Written by <%= post.author_name %> on <%= post.created_at.strftime("%A %B %e, %Y") %></h6>
        <p class="card-text"><%= post.summary %></p>
        <%= link_to 'View Post', post, class: 'card-link' %>
        <span>&nbsp;|&nbsp;<a class="summary-tags-link"  data-toggle="tooltip" data-placement="top" data-html="true" title="<%= tags_for_post %>">Post Topics</a></span>
      </div>
    </div>
    <br>
  <% end %>
</div>