<%
  # HTML Entities
  title_header = "<h2>#{ title }</h2>".html_safe
  post_tag_input = '
    <div class="row">
      <div class="col-xs-12 col-sm-4 dropdown">
        <label for="tagInput">Post Tags (<em>Optional</em>)</label>
        <input id="tagInput" type="text" class="form-control" placeholder="Tag Name" data-toggle="dropdown">
        <span class="dropdown-menu" id="dropdownMenu">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#createNewTagModal">Create new tag...</a>
        </span>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div id="tags"></div>
      </div>
    </div>'.html_safe
  # Ruby HTML Generators
  post_preview_container = Proc.new do |post|
    preview_content = post == nil || post.content == nil ? 'The post will appear here...' : post.content
    "<div class=\"row\">
      <div class=\"col-sm-12\">
        <div class=\"card\">
          <h5 class=\"card-header\">Post Preview</h5>
          <div class=\"card-body\">
            <div id=\"contentPreview\">#{HTMLEntities.new.decode(preview_content).html_safe}</div>
          </div>
        </div>
      </div>
    </div>".html_safe
  end 
%>

<%= form_with(model: post, local: true) do |form| %>

  <% if post.errors.any? %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1">
        <div class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="alert-heading">Please fix the following <%= pluralize(post.errors.count, "error") %>:</h4>
          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>

        </div>

      </div>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 offset-sm-1">
    <div class="jumbotron" id="postJumbotron">
      
      <%= title_header %>
      
      <hr>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :post_title, class: 'form-control', placeholder: 'Your post\'s title' %>
      </div>

      <div class="form-group">
        <%= form.label :summary %>
        <%= form.text_field :summary, id: :post_summary, class: 'form-control', placeholder: 'A quick summary for your post' %>
      </div>
      
      
      <div class="form-group">
        <%= form.label :content %>
        <%= form.trix_editor :content, id: :post_content, placeholder: 'Write your post\'s stuff here' %>
      </div>

      <%= post_preview_container.call(post) %>
      
      <br>

      <%= post_tag_input %>

      <hr>

      <%= form.submit class: 'btn btn-info'%>

      <%= hidden_field_tag :post_tags,"", name: "post_tags" %>
    </div>
  </div>
</div>  
<% end %>

<%= render 'new_tag_modal' %>

<script>
  const initialTags = <%= raw @initial_tags %>;
  const currentTags = <%= raw @current_tags %>;
  let dropdownTags = [];
</script>

<%= javascript_include_tag 'post_tags' %>