<% if posts.count != 0 %>

  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <h2 class="text-left"><%= title %></h2>
      <hr class="my-4">
    </div>
    <div class="col-xs-12 col-sm-7">
      <h4 class="text-right"><%= posts.count %><%= posts.count == 1 ? ' Post' : ' Posts'%></h4>
    </div>
  </div>

  <div class="row">
    <%= render "summary_index", { posts: posts }%>
    <%= render "summaries", { posts: posts }%>
  </div>

<% else %>
  <h2 class="text-center">Sorry no posts available :(</h2>
<% end %>
