<div class="col-xs-12 col-sm-9">
    <% posts.each do |post| %>
      <% tag_names = post.tags.map {|tag| tag.name }%>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Written by <%= post.author_name %> on <%= post.created_at.strftime("%A %B %e, %Y") %></h6>
          <p class="card-text"><%= post.summary %></p>
          <%= link_to 'View Post', post, class: 'card-link' %>
          <span>&nbsp;|&nbsp;<a class="card-link" href="" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= tag_names.join(", ") %>">Post Topics</a></span>
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>