<nav class="navbar fixed-top navbar-expand-lg application-navbar justify-content-between">
    <%= link_to 'The Bit Banging Blog', :root, class: 'navbar-brand'  %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'All Posts', :root, class: 'nav-link'  %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts By Writer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% Author.all.each do |author| %>
              <% if author.posts.count != 0 %>
                <%= link_to '/author/' + author.name, class: 'dropdown-item' do %>
                  <%= author.name %> &nbsp;
                  <span class="badge badge-info">
                    <%= author.posts.size %>
                    <%= author.posts.size == 1 ? " post" : " posts"%>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts By Topic
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% Tag.all.each do |tag| %>
              <%= link_to '/tag/' + tag.name, class: 'dropdown-item' do %>
                <%= tag.name %> &nbsp;
                <span class="badge badge-info">
                  <%= tag.posts.size %>
                  <%= tag.posts.size == 1 ? " post" : " posts"%>
                </span>
              <% end %>  
            <% end %>
          </div>
        </li>
        <% if author_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Create Post', :new_post, method: :get, class: 'btn btn-success' %>      
          </li>
        <% end %>
      </ul>

      <div>
        <% if author_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_author.name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to '/author/' + current_author.name, class: 'dropdown-item' do %>
                Your Posts
              <% end %>
              <%= link_to 'Edit Your Profile', :edit_author_registration, class: 'dropdown-item' %>
              <% if current_author != nil && current_author.id == 1 %>
                <%= link_to 'Create New Author', :new_author_registration, class: 'dropdown-item' %>
              <% end %>
              <% if !current_page?(:new_post) %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item edit-tags" data-toggle="modal" data-target="#editTagModal">Edit Post Tags</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Logout', :destroy_author_session, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Author Login', :new_author_session, method: :get, class: 'btn btn-info' %>       
        <% end %>
      </div>
    </div>
</nav>

<% if !current_page?(:new_post) %>
  <%= render "layouts/remove_tag_modal" %>
<% end %>